"*":
  "atom-autocomplete-php": {}
  "atom-beautify":
    css:
      newline_between_rules: true
    general:
      _analyticsUserId: "ee112437-8958-40b0-8e6a-cbe3efabb293"
    js:
      break_chained_methods: true
      end_with_comma: true
      eval_code: true
      indent_size: 2
      jslint_happy: true
    jsx:
      space_after_anon_function: true
    markdown:
      commonmark: true
      default_beautifier: "Remark"
      footnotes: true
      yaml: false
  "atom-ctags":
    GotoSymbolKey: [
      "ctrl"
    ]
    buildTimeout: 30000
    cmdArgs: "--exclude=.git --exclude=node_modules --exclude=vendor --exclude=bower_modules --exclude=.tmp --exclude=.sass-cache --exclude=sites/*/files --exclude=www/sites/*/files"
  "atom-minify": {}
  "atom-phpcs":
    cbfpath: "/usr/bin/phpcbf"
    path: "/usr/local/bin/phpcs"
  "atom-terminal-panel": {}
  "atom-typescript": {}
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      ".bin"
      "linter-jshint"
      "language-javascript-jsx"
      "linter-jsxhint"
      "linter-chktex"
      "advanced-open-file"
      "navigate"
      "whitespace"
      "atom-phpcs"
      "atom-autocomplete-php"
      "gulp-manager"
      "ansible-galaxy"
      "commentcode"
      "fast-eslint"
      "symbols-view"
      "js-hyperclick"
      "hyperclick-php"
      "hyperclick"
      "grunt-runner"
      "linter-markdown"
      "esformatter"
      "react"
      "language-jsx"
      "linter-js-standard-jsx"
      "welcome"
      "spell-check"
      "standard-formatter"
    ]
    packagesWithKeymapsDisabled: []
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  "coverage-gutter":
    basePath: "/Users/svarba/Devel/wiw/web-frontend"
    pathToLCOV: "/Users/svarba/Devel/wiw/web-frontend/logs/coverage/report-lcov/lcov.info"
  docblockr: {}
  drupal:
    fileTypesPhp: "module,install,inc,test"
  editor:
    fontSize: 12
    invisibles: {}
  "exception-reporting":
    userId: "3150446c-fbf9-6dd0-54b2-2eb2d3c90336"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "foldername-tabs": {}
  "gfm-pdf": {}
  "git-diff": {}
  "git-history":
    showDiff: false
  "git-log": {}
  "git-plus":
    experimental: true
    gitPath: "/usr/bin/git"
  goto: {}
  "grunt-runner": {}
  "js-hyperclick": {}
  "language-babel": {}
  "language-markdown":
    disableLanguageGfm: false
  latex:
    alwaysOpenResultInAtom: true
  "latex-plus":
    bibtexEnabled: true
    texBin: "/usr/bin/tex"
  "lcov-info":
    highlightType: "gutter"
  "lessc-on-save": {}
  linter:
    errorPanelHeight: 24
  "linter-chktex": {}
  "linter-drupalcs":
    disableWhenNoConfigFile: true
    executablePath: "/usr/local/bin/phpcs"
    ignore: "*.js,*.md,*.features.field_base.inc,*.features.field_instance.inc,*.features.inc"
  "linter-eslint":
    disableWhenNoEslintConfig: false
    globalNodePath: "/Users/svarba/.nvm/versions/node/v7.1.0"
    useGlobalEslint: true
  "linter-jshint":
    lintInlineJavaScript: true
  "linter-jsxhint":
    harmony: true
    jsxhintExecutablePath: "/usr/local/bin/jsxhint"
  "linter-lua":
    executablePath: "/usr/bin/luajit"
  "linter-php":
    executablePath: "/usr/bin/php"
  "linter-phpcs":
    executablePath: "/usr/bin/phpcs"
    ignore: "*.blade.php,*.twig.php,*.install,*.inc,settings.php"
    tabWidth: 2
  "linter-scss-lint": {}
  "linter-spell":
    spellPath: "aspell"
  "markdown-preview-plus": {}
  "merge-conflicts": {}
  minimap:
    plugins:
      pigments: false
      pigmentsDecorationsZIndex: 0
  navigate:
    dblclk: true
  nuclide:
    "nuclide-click-to-symbol":
      useCmdKey: true
  "one-dark-ui": {}
  "php-analyser":
    phpExecutablePath: "/usr/bin/php"
  pigments:
    markerType: "dot"
  react:
    enabledForAllJavascriptFiles: true
  "remote-sync": {}
  "seti-syntax":
    dynamicColor: false
  "seti-ui":
    compactView: true
    themeColor: "Steel"
  "slim-dark-ui": {}
  "spell-check": {}
  "symbols-tree-view": {}
  "terminal-panel": {}
  "terminal-status": {}
  "tree-view": {}
  "tree-view-git-status": {}
  "ult-terminal": {}
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1479198866
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".coffee.jsx.source":
  editor:
    autoIndentOnPaste: true
    softWrap: true
".drupal.source":
  editor:
    showIndentGuide: true
".js.jsx.source":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 2
".js.regexp.replacement.source":
  editor:
    tabLength: 4
".js.regexp.source":
  editor:
    tabLength: 4
".js.source":
  editor:
    tabLength: 4
"atom-format-lua":
  lua51: "/usr/bin/lua5.1"
