"*":
  "atom-autocomplete-php": {}
  "atom-beautify":
    _analyticsUserId: "ee112437-8958-40b0-8e6a-cbe3efabb293"
    css_newline_between_rules: true
    js_break_chained_methods: true
    js_end_with_comma: true
    js_eval_code: true
    js_jslint_happy: true
    language_markdown_default_beautifier: "Remark"
    language_php_default_beautifier: "PHPCBF"
    markdown_commonmark: true
    markdown_footnotes: true
    markdown_yaml: false
    php_phpcbf_path: "/usr/bin/phpcbf"
  "atom-ctags":
    GotoSymbolKey: [
      "ctrl"
    ]
    buildTimeout: 30000
    cmdArgs: "--exclude=.git --exclude=node_modules --exclude=vendor --exclude=bower_modules --exclude=.tmp --exclude=.sass-cache --exclude=sites/*/files --exclude=www/sites/*/files --exclude=.remote-sync.json --exclude=sites/*/settings.php --exclude=libraries"
  "atom-minify": {}
  "atom-phpcs":
    cbfpath: "/usr/bin/phpcbf"
    path: "/usr/local/bin/phpcs"
  "atom-terminal-panel": {}
  "atom-typescript": {}
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      ".bin"
      "linter-jshint"
      "language-javascript-jsx"
      "linter-jsxhint"
      "linter-chktex"
      "advanced-open-file"
      "navigate"
      "atom-autocomplete-php"
      "tree-view"
      "symbols-view"
    ]
    themes: [
      "nucleus-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  docblockr: {}
  drupal:
    fileTypesPhp: "module,install,inc,test"
  editor:
    fontSize: 15
    invisibles: {}
  "exception-reporting":
    userId: "3150446c-fbf9-6dd0-54b2-2eb2d3c90336"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "foldername-tabs": {}
  "gfm-pdf": {}
  "git-history":
    showDiff: false
  "git-log": {}
  "git-plus":
    gitPath: "/usr/bin/git"
  goto: {}
  "grunt-runner": {}
  "js-hyperclick": {}
  "language-babel": {}
  latex:
    alwaysOpenResultInAtom: true
  "latex-plus":
    bibtexEnabled: true
    texBin: "/usr/bin/tex"
  "lessc-on-save": {}
  linter:
    errorPanelHeight: 38
  "linter-chktex": {}
  "linter-drupalcs":
    disableWhenNoConfigFile: true
    executablePath: "/usr/local/bin/phpcs"
    ignore: "*.js,*.md,*.features.field_base.inc,*.features.field_instance.inc,*.features.inc"
  "linter-eslint":
    disableWhenNoEslintConfig: false
    globalNodePath: "/usr/local"
    useGlobalEslint: true
  "linter-jshint":
    lintInlineJavaScript: true
  "linter-jsxhint":
    harmony: true
    jsxhintExecutablePath: "/usr/local/bin/jsxhint"
  "linter-lua":
    executablePath: "/usr/bin/luajit"
  "linter-php":
    executablePath: "/usr/bin/php"
  "linter-phpcs":
    executablePath: "/usr/bin/phpcs"
    ignore: "*.blade.php,*.twig.php,*.install,*.inc,settings.php"
    tabWidth: 2
  "linter-scss-lint": {}
  "linter-twig":
    executablePath: "/home/ra100/.composer/vendor/bin/twig-lint"
  "markdown-preview-plus": {}
  "merge-conflicts": {}
  minimap: {}
  navigate:
    dblclk: true
  nuclide:
    "nuclide-click-to-symbol":
      useCmdKey: true
  "one-dark-ui": {}
  "php-analyser":
    phpExecutablePath: "/usr/bin/php"
  pigments:
    groupPaletteColors: "by file"
    mergeColorDuplicates: true
  react:
    enabledForAllJavascriptFiles: true
  "remote-sync": {}
  "slim-dark-ui": {}
  "spell-check": {}
  "symbols-tree-view": {}
  "terminal-panel": {}
  "terminal-status": {}
  "tree-view-git-status": {}
  "ult-terminal": {}
  wakatime:
    apikey: "2aa4d346-0817-477e-bdaa-95896ee9f1f7"
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".coffee.jsx.source":
  editor:
    autoIndentOnPaste: true
    softWrap: true
".drupal.source":
  editor:
    showIndentGuide: true
".js.jsx.source":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 2
".js.regexp.replacement.source":
  editor:
    tabLength: 4
".js.regexp.source":
  editor:
    tabLength: 4
".js.source":
  editor:
    tabLength: 4
"atom-format-lua":
  lua51: "/usr/bin/lua5.1"
