'atom-text-editor':
  'alt-shift-a': 'atom-beautify:beautify-editor'
  'ctrl-shift-z': 'core:redo'
  'ctrl-shift-up': 'atom-ctags:return-from-declaration'
  'ctrl-shift-down': 'atom-ctags:go-to-declaration'
  'ctrl-alt-d': 'git-diff-details:toggle-git-diff-details'
