[
  {
    title: "WhoIsWho"
    paths: [
      "/Users/svarba/Devel/wiw/web-frontend"
    ]
  }
  {
    title: "mCon"
    paths: [
      "/Users/svarba/Devel/mcon/MCon"
      "/Users/svarba/Devel/mcon/mcon-ios"
    ]
  }
  {
    title: "Joyfulness"
    paths: [
      "/Users/svarba/Devel/joyfulness"
    ]
  }
]
