[
  {
    title: "blog-ra100"
    paths: [
      "/home/ra100/Development/blog-ra100"
    ]
  }
  {
    title: "atom-beautify"
    paths: [
      "/home/ra100/.atom/packages/atom-beautify"
    ]
  }
  {
    title: "slavcon"
    paths: [
      "/home/ra100/Development/slavcon"
    ]
  }
  {
    title: "nodemcu"
    paths: [
      "/home/ra100/Downloads/nodemcu/nodemcu-elog"
      "/home/ra100/Downloads/nodemcu/nodemcu-lightsd"
      "/home/ra100/Downloads/nodemcu/terarium"
    ]
  }
  {
    title: "Stdiplomacy"
    paths: [
      "/home/ra100/Development/stdiplomacy"
    ]
  }
  {
    title: "Sails Social Feed"
    paths: [
      "/home/ra100/Development/sails-social-feed"
      "/home/ra100/Development/CRO/shoutbox-widget"
    ]
  }
  {
    title: "intranet"
    paths: [
      "/home/ra100/Development/CRO/intranetD6"
      "/home/ra100/Development/CRO/intranetD7"
      "/home/ra100/Development/CRO/intranet_dotazy"
    ]
  }
  {
    title: "Triant Cz"
    paths: [
      "/home/ra100/Development/triant.cz"
    ]
  }
  {
    title: "3d"
    paths: [
      "/home/ra100/Documents/3d"
    ]
  }
]
